* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imagenes/fondo-geometrico-plano_23-2148967370.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family:cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.container {
  background: rgb(236, 227, 227);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

input[type="text"] {
  flex: 1 1 100%;
  padding: 10px;
  font-size: 1rem;
}

select {
  flex: 1 1 45%;
  padding: 10px;
  font-size: 1rem;
}

button {
  flex: 1 1 45%;
  padding: 10px;
  background-color: #fc462f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

li span {
  flex: 1;
  margin-left: 10px;
  font-size: 1rem;
}

li.importante {
  background-color: #ffcccc;
}

li.completed span {
  text-decoration: line-through;
  color: grey;
}

.clear-btn {
  margin-top: 10px;
  background-color: #fc462f;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}

.clear-btn:hover {
  background-color: #c82333;
}


@media (max-width: 500px) {
  h1 {
      font-size: 1.5rem;
  }

  input[type="text"], select, button {
      flex: 1 1 100%;
      font-size: 0.9rem;
  }

  li {
      flex-direction: column;
      align-items: flex-start;
  }

  li span {
      margin-left: 0;
      margin-top: 5px;
  }
}



